<mat-toolbar color="primary">
  <span class="news-title">News Search</span>
</mat-toolbar>
<div class="news-container">
  <mat-form-field appearance="legacy" class="search-field">
    <mat-label>Search News</mat-label>
    <input matInput placeholder="Search" (keyup.enter)="onSearch()" #search>
    <button matSuffix mat-mini-fab color="primary" aria-label="Search Icon" (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
    <button matSuffix mat-mini-fab color="primary" aria-label="Clear Icon" (click)="onReset()" style="margin-left:5px;">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <app-news [searchStr]="str"></app-news>
</div>